### Date: 2017 May 22
### Author: Li Yuqiong
### Exercises for backtesting

##### Updates from Previous version on 2017 May 7:
1. Revised the threshold of second strategy to by highest between first trigger date and current date
2. Added a part to compute sharp-ratio. 



Current version of this document demonstrates a Python script to implement two trading strategies based on historical daily end stock data. 

The stock data containing historical end price is downloaded from Yahoo! Finance using Pandas. This script contains a list of S&P500 ticker data and thus can analyze the performance on these listed companies.

Everyday's trading state is characterized by four variables: 
1. "Share" = number of shares of each stock symbol. The value takes integers only.
2. "Cash" = cash available for buying stocks.
3. "Position" = Share * Cash. The value of stocks at that day's end price.
4. "Total" = Cash + Position. The net asset value of trading account at the date according to stock's daily end price.

Two trading strategies are:

1. The only trigger condition within month is, once encounter a 5% decrease of from the maximum price between monthly initial price and current price, cut 20% position the next day. 
Buy back the same stock using all available cash at the beginning of next month, and repeat the process.

2. There are two trigger conditions within each month. 
First trigger point is, once encounter a 5% decrease of from the maximum price between monthly initial price and current price, cut 20% position the next day. 
Then, if encounter another 5% loss between the maximum price between trigger date one price and current price, cut 100% of position the next day. Buy back the same stock using all available cash at the beginning of next month, and repeat the process.

In the end, this version of the script outputs a Pandas Panel object with three dimension being 1) ticker symbol 2) trading date and 3) net asset value (i.e. "Total") at the end of each day using strategy 1 and strategy 2.

#### Pitfalls 
1. This code only takes data from Yahoo! Finance. Other data sources can be Bloomberg.
2. Stop loss criteria: This version takes price as the only factor. However, another method might be to compute threshold based on stock position + cash.
3. Actual vs simulated return. This code does not consider 1) dividend 2) transaction costs 3) tax. Thus actual return might differ from simulated ones here.
4. Single position vs portofolio allocation: How many assets do we consider? 

##### Next Steps
1. Improve computing efficiency. Current version uses a for-loop for checking cutdates and is thus slow.
2. Compute other statistical indices for evaluation: sharp ratio, Max Drop, benchmark performance.
3. This code only considers indepedent tickers. Next if consider asset allocation, should go one level up and write a function to operate on the final Pandas Panel object, and optimize on that.
4. Review literature on "Stop Loss" and revise the strategy accordingly.

##### Initial setup in this demonstration 
Finally, for demonstration, initial setup in this program is Share = 0, Total = 10000.0

The testing period is from 2015-1-1 to 2015-03-01

The stocks being tested are "ABBV", "ABT", "MMM"

In [1]:
import numpy as np 
import pandas as pd  # pandas for data storage and analysis
import pandas_datareader.data as web # this module provides function to fetch data from yahoo finance
import datetime 
import requests, bs4 # for web scrapping

The section below includes self-defined functions used in constructing trading strategies. These actions include: get ticker list from Wikipedia; get monthly data based on historical daily end price; check for trigger dates; initialize each month's first state of Share and Cash; perform buying, selling and holding actions.

Explainations are included before each function.

In [2]:
### Function name: getSP500.
### Dependencies: requests, bs4
### Note: This function scapes S&P500 ticker symbols from wikipedia
###### and store them in a list
def getSP500():
    url = "https://en.wikipedia.org/wiki/List_of_S%26P_500_companies"
    res = requests.get(url)
    res.raise_for_status()
    total = bs4.BeautifulSoup(res.text, "lxml")
    elems = total.select('a[href^="https://www.nyse.com/quote/"]')
    ticker = [x.getText() for x in elems]
    return(ticker);

### Function name: getMonthlyData
### Dependencies: pandas
### Note: This function takes in a pandas dataframe with all data and
##### return slices of it based on year and month
def getMonthlyData(df, year, month):
    dat = df.loc[(df.index.year==year) & (df.index.month == month)]
    return(dat);

### Function name: checkCutByDay
### Dependencies: pandas
### Note: This function takes in a pandas dataframe with monthly data
##### return dates of loss trigger and cut
def checkCutByDay(dat, percent):
    dat['Check'] = False
    for i in range(0, (len(dat)-1)):
        threshold1 = dat.Close[0:i].max() * (1-percent)
        if (dat.Close[i] <=threshold1):
            triggerDate1 = dat.index[i]
            dat.Check[i] = True
            if (i == (len(dat)-1)):
                return{}
            else:
                cutDate1 = dat.index[i+1]
                for j in range(i+1, (len(dat)-1)):
                    threshold2 = dat.Close[i:j].max() * (1-percent)
                    if (dat.Close[j] <= threshold2):
                        triggerDate2 = dat.index[j]
                        dat.Check[j] = True
                        if (j == (len(dat)-1)):
                            return {"triggerDate1": triggerDate1, "cutDate1": cutDate1};
                        else:
                            cutDate2 = dat.index[j+1]
                            return {"triggerDate1": triggerDate1, "cutDate1": cutDate1,
                            "triggerDate2": triggerDate2, "cutDate2": cutDate2};
                return {"triggerDate1": triggerDate1, "cutDate1": cutDate1};
    return {};

### Function name: Cut
### Dependencies: pandas
### Note: This function takes in a pandas dataframe with monthly data and indexes
##### return an updated dataframe slices where stock from index1 are cut at index2
def Cut(dat, index1, index2, percent):
    dat.Share[index2] = np.floor(dat.Position[index1] * (1-percent) /dat.Close[index2])
    dat.Cash[index2] = dat.Cash[index1] + (dat.Share[index1] - dat.Share[index2]) * dat.Close[index2]
    dat.Position[index2] = dat.Share[index2] * dat.Close[index2]
    dat.Total[index2] = dat.Position[index2] + dat.Cash[index2]
    return(dat);

### Function name: Hold
### Dependencies: pandas
### Note: This function takes in a pandas dataframe with monthly data and indexes
##### return an updated dataframe slices where stock are hold from index1 to index2
def Hold(dat, index1, index2):
    dat.Share[index1:index2] = dat.Share[index1]
    dat.Cash[index1:index2] = dat.Cash[index1]
    dat.Position[index1:index2] = dat.Share[index1:index2] * dat.Close[index1:index2]
    dat.Total[index1:index2] = dat.Position[index1:index2] + dat.Cash[index1:index2]
    return(dat);

Caveats for the codes below: this version of getPrevious() function works for Year = 2015 only! A further revision is to modify parameters to make manual adjustment of years in this chunk of code unnecessary.

In [3]:
### Function name: getPrevious
### Dependencies: pandas
### Note: This function takes in 1) a pandas dataframe containing all historical data and 2) year and month to fetch data
##### return an the initial state of stock share and cash from last month
### Caveats: Beginning of months are tricky
def getPrevious(df, year, month):
    if ((year == df.index.year[0]) & (month == df.index.month[0])):
        inShare = 0.0
        inCash = 10000.0
    elif (month == 1):
        inShare = df.Share[(df.index.year==year-1) & (df.index.month == 12)].tail(1)[0]
        inCash = df.Cash[(df.index.year==year-1) & (df.index.month == 12)].tail(1)[0]
    else:
        inShare = df.Share[(df.index.year==year) & (df.index.month == month-1)].tail(1)[0]
        inCash = df.Cash[(df.index.year==year) & (df.index.month == month-1)].tail(1)[0]
    return([inShare, inCash]);

In [4]:
### Function name: firstDay
### Dependencies: pandas, getPrevious function
### Note: This function takes in 1) monthly data to be updated 2) initial states of cash and share
##### return the first day position of each month, where supposed to buy back 
def firstDay(dat, inShare, inCash):
    dat.Share[0] = inShare + np.floor(inCash/dat.Close[0])
    dat.Cash[0] = inCash - (dat.Share[0]-inShare) * dat.Close[0]
    dat.Position[0] = dat.Close[0] * dat.Share[0]
    dat.Total[0] = dat.Position[0] + dat.Cash[0]
    return(dat);

This section below includes codes to perform strategy 1 and strategy 2 as described at the beginning.

In [5]:
### Function name: getAsset1
### Dependencies: pandas, getPrevious, getMonthlyData, firstDay, Hold, Cut
### Note: This function takes in monthly data to be updated
##### return the updated data slice after executing strategy 1
def getAsset1(df):
    for year in range(df.index.year[0], df.index.year[-1]+1):
        for month in range(df.loc[df.index.year==year].index.month[0], df.loc[df.index.year==year].index.month[-1]+1):
            dat = getMonthlyData(df, year, month)
            inShare = getPrevious(df, year, month)[0]
            inCash = getPrevious(df, year, month)[1]
            dat = firstDay(dat, inShare, inCash)
            beginDate = dat.index[0]
            endDate = dat.index[-1]
            if (len(checkCutByDay(dat, percent))==0):
                Hold(dat, beginDate, endDate)
            else:
                triggerDate1 = checkCutByDay(dat, percent)['triggerDate1']
                cutDate1 = checkCutByDay(dat, percent)['cutDate1']
                Hold(dat, beginDate, triggerDate1)
                Cut(dat, triggerDate1, cutDate1, s1cutPt1)
                Hold(dat, cutDate1, endDate)
            df.loc[(df.index.year==year) & (df.index.month == month)] = dat
    return(df);

### Function name: getAsset2
### Dependencies: pandas, getPrevious, getMonthlyData, firstDay, Hold, Cut
### Note: This function takes in monthly data to be updated
##### return the updated data slice after executing strategy 2
def getAsset2(df):
    for year in range(df.index.year[0], df.index.year[-1]+1):
        for month in range(df.loc[df.index.year==year].index.month[0], df.loc[df.index.year==year].index.month[-1]+1):
            dat = getMonthlyData(df, year, month)
            inShare = getPrevious(df, year, month)[0]
            inCash = getPrevious(df, year, month)[1]
            dat = firstDay(dat, inShare, inCash)
            beginDate = dat.index[0]
            endDate = dat.index[-1]
            if (len(checkCutByDay(dat, percent))==0):
                Hold(dat, beginDate, endDate)
            elif (len(checkCutByDay(dat, percent))==2):
                triggerDate1 = checkCutByDay(dat, percent)['triggerDate1']
                cutDate1 = checkCutByDay(dat, percent)['cutDate1']
                Hold(dat, beginDate, triggerDate1)
                Cut(dat, triggerDate1, cutDate1, s2cutPt1)
                Hold(dat, cutDate1, endDate)
            else:
                triggerDate1 = checkCutByDay(dat, percent)['triggerDate1']
                cutDate1 = checkCutByDay(dat, percent)['cutDate1']
                triggerDate2 = checkCutByDay(dat, percent)['triggerDate2']
                cutDate2 = checkCutByDay(dat, percent)['cutDate2']
                Hold(dat, beginDate, triggerDate1)
                Cut(dat, triggerDate1, cutDate1, s2cutPt1)
                Hold(dat, cutDate1, triggerDate2)
                Cut(dat, triggerDate2, cutDate2, s2cutPt2)
                Hold(dat, cutDate2, endDate)
            df.loc[(df.index.year==year) & (df.index.month == month)] = dat
    return(df);

##### Experiment 

This part prepares and cleans data available for analysis.

Again, for demonstration, initial setup in this program is Share = 0, Total = 10000.0

The testing period is from 2002-11-16 to 2005-04-24. These two dates are a Saturday and a Sunday respectively. To change the period of backtesting, modify the start and end date is enough.

The stocks being tested are "MSFT" Microsoft and "AMZN" Amazon. This code works for other tickers listed on S&P500 as well.

In [6]:
### From here start stat analysis on strategies
# start = datetime.datetime(2002, 11, 16) # This is a Saturaday
# end = datetime.datetime(2005, 4, 24) # This is a Sunday

start = datetime.datetime(1998, 3, 14) # Another test date
end = datetime.datetime(2001, 1, 1) 

# ticker = getSP500()[0:3]
ticker = ['MSFT', 'AMZN']

f = web.DataReader(ticker, "yahoo", start, end)

In [7]:
pnl = f.transpose(2, 1, 0)
pnl = pnl.drop(['Open', 'High', 'Low', 'Volume', 'Adj Close'], 2)
pnl.loc[:, :, 'Share'] = 0.0
pnl.loc[:, :, 'Position'] = 0.0
pnl.loc[:, :, 'Cash'] = 10000.0
pnl.loc[:, :, 'Total'] = 10000.0

percent = 0.05
s1cutPt1 = 0.2
s2cutPt1 = 0.2
s2cutPt2 = 1

This part of the codes implements the previous two trading strategies on data, collect results and organize it into a sigle output object.

In [8]:
s1pnl = pnl.apply(lambda x:getAsset1(x), axis=(1, 2)) # results of strategy 1
s2pnl = pnl.apply(lambda x:getAsset2(x), axis=(1, 2)) # results of strategy 2

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:67: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/pandas/core/series.py:767: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._set_with(key, value)
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:68: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:69: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:70: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

###### Get a detailed view of each stock's specific performance for each strategy
The charts below shows the daily changes in trading account, including shares, cash, position and total money. There thus should be four tables: Amazon for strategy one and two, Microsoft for strategy one and two.

In [9]:
s1pnl.loc['AMZN'] # Performance for Amazon at Strategy one

                Close  Share      Position         Cash         Total
Date
1998-03-16  79.000002  126.0   9954.000252    45.999748  10000.000000
1998-03-17  79.875000  126.0  10064.250000    45.999748  10110.249748
1998-03-18  85.312500  126.0  10749.375000    45.999748  10795.374748
1998-03-19  84.000000  126.0  10584.000000    45.999748  10629.999748
1998-03-20  84.000000  126.0  10584.000000    45.999748  10629.999748
1998-03-23  83.812500  126.0  10560.375000    45.999748  10606.374748
1998-03-24  84.250002  126.0  10615.500252    45.999748  10661.500000
1998-03-25  81.687498  126.0  10292.624748    45.999748  10338.624496
1998-03-26  82.750002  126.0  10426.500252    45.999748  10472.500000
1998-03-27  85.000002  126.0  10710.000252    45.999748  10756.000000
1998-03-30  85.875000  126.0  10820.250000    45.999748  10866.249748
1998-03-31  85.531202  126.0  10776.931452    45.999748  10822.931200
1998-04-01  90.124998  126.0  11355.749748    45.999748  11401.749496
1998-04-02  95.062500  126.0  11977.875000    45.999748  12023.874748
1998-04-03  93.000000  126.0  11718.000000    45.999748  11763.999748
1998-04-06  88.624998  126.0  11166.749748    45.999748  11212.749496
1998-04-07  85.999998  103.0   8857.999794  2023.999702  10881.999496
1998-04-08  88.624998  103.0   9128.374794  2023.999702  11152.374496
1998-04-09  95.250000  103.0   9810.750000  2023.999702  11834.749702
1998-04-13  94.312500  103.0   9714.187500  2023.999702  11738.187202
1998-04-14  97.187496  103.0  10010.312088  2023.999702  12034.311790
1998-04-15  96.125004  103.0   9900.875412  2023.999702  11924.875114
1998-04-16  98.499996  103.0  10145.499588  2023.999702  12169.499290
1998-04-17  94.875000  103.0   9772.125000  2023.999702  11796.124702
1998-04-20  94.249998  103.0   9707.749794  2023.999702  11731.749496
1998-04-21  93.062502  103.0   9585.437706  2023.999702  11609.437408
1998-04-22  87.250002  103.0   8986.750206  2023.999702  11010.749908
1998-04-23  81.000000  103.0   8343.000000  2023.999702  10366.999702
1998-04-24  84.874998  103.0   8742.124794  2023.999702  10766.124496
1998-04-27  82.750002  103.0   8523.250206  2023.999702  10547.249908
...               ...    ...           ...          ...           ...
2000-11-16  27.812500   91.0   2530.937500   757.670759   3288.608259
2000-11-17  27.437500   91.0   2496.812500   757.670759   3254.483259
2000-11-20  25.812500   91.0   2348.937500   757.670759   3106.608259
2000-11-21  24.250000   91.0   2206.750000   757.670759   2964.420759
2000-11-22  25.187500   91.0   2292.062500   757.670759   3049.733259
2000-11-24  28.937500   91.0   2633.312500   757.670759   3390.983259
2000-11-27  28.000000   91.0   2548.000000   757.670759   3305.670759
2000-11-28  25.031200   91.0   2277.839200   757.670759   3035.509959
2000-11-29  26.937500   91.0   2451.312500   757.670759   3208.983259
2000-11-30  24.687500   91.0   2246.562500   757.670759   3004.233259
2000-12-01  24.625000  121.0   2979.625000    18.920759   2998.545759
2000-12-04  26.562500  121.0   3214.062500    18.920759   3232.983259
2000-12-05  25.375000  121.0   3070.375000    18.920759   3089.295759
2000-12-06  23.625000  121.0   2858.625000    18.920759   2877.545759
2000-12-07  21.375000  106.0   2265.750000   339.545759   2605.295759
2000-12-08  23.437500  106.0   2484.375000   339.545759   2823.920759
2000-12-11  25.312500  106.0   2683.125000   339.545759   3022.670759
2000-12-12  25.875000  106.0   2742.750000   339.545759   3082.295759
2000-12-13  23.750000  106.0   2517.500000   339.545759   2857.045759
2000-12-14  22.687500  106.0   2404.875000   339.545759   2744.420759
2000-12-15  22.875000  106.0   2424.750000   339.545759   2764.295759
2000-12-18  19.875000  106.0   2106.750000   339.545759   2446.295759
2000-12-19  18.250000  106.0   1934.500000   339.545759   2274.045759
2000-12-20  16.687500  106.0   1768.875000   339.545759   2108.420759
2000-12-21  15.187500  106.0   1609.875000   339.545759   1949.420759
2000-12-22  15.562500  106.0   1649.625000   339.545759   1989.170759
2000-12-26  16.937500  106.0   1795.375000   339.545759   2134.920759
2000-12-27  16.875000  106.0   1788.750000   339.545759   2128.295759
2000-12-28  17.375000  106.0   1841.750000   339.545759   2181.295759
2000-12-29  15.562500  106.0   1649.625000   339.545759   1989.170759

[707 rows x 5 columns]

In [10]:
s1pnl.loc['MSFT'] # Performance for Microsoft at Strategy one

              Close  Share    Position         Cash         Total
Date
1998-03-16  82.0000  121.0   9922.0000    78.000000  10000.000000
1998-03-17  80.3750  121.0   9725.3750    78.000000   9803.375000
1998-03-18  81.7500  121.0   9891.7500    78.000000   9969.750000
1998-03-19  82.0000  121.0   9922.0000    78.000000  10000.000000
1998-03-20  81.8125  121.0   9899.3125    78.000000   9977.312500
1998-03-23  83.8750  121.0  10148.8750    78.000000  10226.875000
1998-03-24  84.9375  121.0  10277.4375    78.000000  10355.437500
1998-03-25  88.8125  121.0  10746.3125    78.000000  10824.312500
1998-03-26  88.2500  121.0  10678.2500    78.000000  10756.250000
1998-03-27  87.8125  121.0  10625.3125    78.000000  10703.312500
1998-03-30  87.9375  121.0  10640.4375    78.000000  10718.437500
1998-03-31  89.5000  121.0  10829.5000    78.000000  10907.500000
1998-04-01  90.3750  121.0  10935.3750    78.000000  11013.375000
1998-04-02  91.3125  121.0  11048.8125    78.000000  11126.812500
1998-04-03  93.0000  121.0  11253.0000    78.000000  11331.000000
1998-04-06  89.9375  121.0  10882.4375    78.000000  10960.437500
1998-04-07  87.2500  121.0  10557.2500    78.000000  10635.250000
1998-04-08  88.9375   94.0   8360.1250  2479.312500  10839.437500
1998-04-09  89.0000   94.0   8366.0000  2479.312500  10845.312500
1998-04-13  88.6250   94.0   8330.7500  2479.312500  10810.062500
1998-04-14  88.4375   94.0   8313.1250  2479.312500  10792.437500
1998-04-15  91.3750   94.0   8589.2500  2479.312500  11068.562500
1998-04-16  91.6875   94.0   8618.6250  2479.312500  11097.937500
1998-04-17  92.1250   94.0   8659.7500  2479.312500  11139.062500
1998-04-20  94.6250   94.0   8894.7500  2479.312500  11374.062500
1998-04-21  94.8750   94.0   8918.2500  2479.312500  11397.562500
1998-04-22  98.8750   94.0   9294.2500  2479.312500  11773.562500
1998-04-23  94.5000   94.0   8883.0000  2479.312500  11362.312500
1998-04-24  92.1250   94.0   8659.7500  2479.312500  11139.062500
1998-04-27  90.3125   94.0   8489.3750  2479.312500  10968.687500
...             ...    ...         ...          ...           ...
2000-11-16  68.9375   94.0   6480.1250  1943.439324   8423.564324
2000-11-17  69.0625   94.0   6491.8750  1943.439324   8435.314324
2000-11-20  67.1875   94.0   6315.6250  1943.439324   8259.064324
2000-11-21  67.7500   94.0   6368.5000  1943.439324   8311.939324
2000-11-22  68.2500   94.0   6415.5000  1943.439324   8358.939324
2000-11-24  69.9375   94.0   6574.1250  1943.439324   8517.564324
2000-11-27  70.6875   94.0   6644.6250  1943.439324   8588.064324
2000-11-28  67.0000   94.0   6298.0000  1943.439324   8241.439324
2000-11-29  65.0625   94.0   6115.8750  1943.439324   8059.314324
2000-11-30  57.3750   94.0   5393.2500  1943.439324   7336.689324
2000-12-01  56.6250  128.0   7248.0000    18.189324   7266.189324
2000-12-04  56.4375  128.0   7224.0000    18.189324   7242.189324
2000-12-05  59.8750  128.0   7664.0000    18.189324   7682.189324
2000-12-06  56.6875  128.0   7256.0000    18.189324   7274.189324
2000-12-07  53.1250  109.0   5790.6250  1027.564324   6818.189324
2000-12-08  54.4375  109.0   5933.6875  1027.564324   6961.251824
2000-12-11  58.0625  109.0   6328.8125  1027.564324   7356.376824
2000-12-12  58.3750  109.0   6362.8750  1027.564324   7390.439324
2000-12-13  57.2500  109.0   6240.2500  1027.564324   7267.814324
2000-12-14  55.5000  109.0   6049.5000  1027.564324   7077.064324
2000-12-15  49.1875  109.0   5361.4375  1027.564324   6389.001824
2000-12-18  47.8125  109.0   5211.5625  1027.564324   6239.126824
2000-12-19  44.8125  109.0   4884.5625  1027.564324   5912.126824
2000-12-20  41.5000  109.0   4523.5000  1027.564324   5551.064324
2000-12-21  43.4375  109.0   4734.6875  1027.564324   5762.251824
2000-12-22  46.4375  109.0   5061.6875  1027.564324   6089.251824
2000-12-26  46.8750  109.0   5109.3750  1027.564324   6136.939324
2000-12-27  46.4375  109.0   5061.6875  1027.564324   6089.251824
2000-12-28  44.5625  109.0   4857.3125  1027.564324   5884.876824
2000-12-29  43.3750  109.0   4727.8750  1027.564324   5755.439324

[707 rows x 5 columns]

In [11]:
s2pnl.loc['AMZN'] # Performance for Amazon at Strategy two

                Close  Share      Position          Cash         Total
Date
1998-03-16  79.000002  126.0   9954.000252     45.999748  10000.000000
1998-03-17  79.875000  126.0  10064.250000     45.999748  10110.249748
1998-03-18  85.312500  126.0  10749.375000     45.999748  10795.374748
1998-03-19  84.000000  126.0  10584.000000     45.999748  10629.999748
1998-03-20  84.000000  126.0  10584.000000     45.999748  10629.999748
1998-03-23  83.812500  126.0  10560.375000     45.999748  10606.374748
1998-03-24  84.250002  126.0  10615.500252     45.999748  10661.500000
1998-03-25  81.687498  126.0  10292.624748     45.999748  10338.624496
1998-03-26  82.750002  126.0  10426.500252     45.999748  10472.500000
1998-03-27  85.000002  126.0  10710.000252     45.999748  10756.000000
1998-03-30  85.875000  126.0  10820.250000     45.999748  10866.249748
1998-03-31  85.531202  126.0  10776.931452     45.999748  10822.931200
1998-04-01  90.124998  126.0  11355.749748     45.999748  11401.749496
1998-04-02  95.062500  126.0  11977.875000     45.999748  12023.874748
1998-04-03  93.000000  126.0  11718.000000     45.999748  11763.999748
1998-04-06  88.624998  126.0  11166.749748     45.999748  11212.749496
1998-04-07  85.999998  103.0   8857.999794   2023.999702  10881.999496
1998-04-08  88.624998  103.0   9128.374794   2023.999702  11152.374496
1998-04-09  95.250000  103.0   9810.750000   2023.999702  11834.749702
1998-04-13  94.312500  103.0   9714.187500   2023.999702  11738.187202
1998-04-14  97.187496  103.0  10010.312088   2023.999702  12034.311790
1998-04-15  96.125004  103.0   9900.875412   2023.999702  11924.875114
1998-04-16  98.499996  103.0  10145.499588   2023.999702  12169.499290
1998-04-17  94.875000  103.0   9772.125000   2023.999702  11796.124702
1998-04-20  94.249998  103.0   9707.749794   2023.999702  11731.749496
1998-04-21  93.062502  103.0   9585.437706   2023.999702  11609.437408
1998-04-22  87.250002    0.0      0.000000  11010.749908  11010.749908
1998-04-23  81.000000    0.0      0.000000  11010.749908  11010.749908
1998-04-24  84.874998    0.0      0.000000  11010.749908  11010.749908
1998-04-27  82.750002    0.0      0.000000  11010.749908  11010.749908
...               ...    ...           ...           ...           ...
2000-11-16  27.812500    0.0      0.000000   1198.065799   1198.065799
2000-11-17  27.437500    0.0      0.000000   1198.065799   1198.065799
2000-11-20  25.812500    0.0      0.000000   1198.065799   1198.065799
2000-11-21  24.250000    0.0      0.000000   1198.065799   1198.065799
2000-11-22  25.187500    0.0      0.000000   1198.065799   1198.065799
2000-11-24  28.937500    0.0      0.000000   1198.065799   1198.065799
2000-11-27  28.000000    0.0      0.000000   1198.065799   1198.065799
2000-11-28  25.031200    0.0      0.000000   1198.065799   1198.065799
2000-11-29  26.937500    0.0      0.000000   1198.065799   1198.065799
2000-11-30  24.687500    0.0      0.000000   1198.065799   1198.065799
2000-12-01  24.625000   48.0   1182.000000     16.065799   1198.065799
2000-12-04  26.562500   48.0   1275.000000     16.065799   1291.065799
2000-12-05  25.375000   48.0   1218.000000     16.065799   1234.065799
2000-12-06  23.625000   48.0   1134.000000     16.065799   1150.065799
2000-12-07  21.375000   42.0    897.750000    144.315799   1042.065799
2000-12-08  23.437500    0.0      0.000000   1128.690799   1128.690799
2000-12-11  25.312500    0.0      0.000000   1128.690799   1128.690799
2000-12-12  25.875000    0.0      0.000000   1128.690799   1128.690799
2000-12-13  23.750000    0.0      0.000000   1128.690799   1128.690799
2000-12-14  22.687500    0.0      0.000000   1128.690799   1128.690799
2000-12-15  22.875000    0.0      0.000000   1128.690799   1128.690799
2000-12-18  19.875000    0.0      0.000000   1128.690799   1128.690799
2000-12-19  18.250000    0.0      0.000000   1128.690799   1128.690799
2000-12-20  16.687500    0.0      0.000000   1128.690799   1128.690799
2000-12-21  15.187500    0.0      0.000000   1128.690799   1128.690799
2000-12-22  15.562500    0.0      0.000000   1128.690799   1128.690799
2000-12-26  16.937500    0.0      0.000000   1128.690799   1128.690799
2000-12-27  16.875000    0.0      0.000000   1128.690799   1128.690799
2000-12-28  17.375000    0.0      0.000000   1128.690799   1128.690799
2000-12-29  15.562500    0.0      0.000000   1128.690799   1128.690799

[707 rows x 5 columns]

In [12]:
s2pnl.loc['MSFT'] # Performance for Microsoft at Strategy two

              Close  Share    Position          Cash         Total
Date
1998-03-16  82.0000  121.0   9922.0000     78.000000  10000.000000
1998-03-17  80.3750  121.0   9725.3750     78.000000   9803.375000
1998-03-18  81.7500  121.0   9891.7500     78.000000   9969.750000
1998-03-19  82.0000  121.0   9922.0000     78.000000  10000.000000
1998-03-20  81.8125  121.0   9899.3125     78.000000   9977.312500
1998-03-23  83.8750  121.0  10148.8750     78.000000  10226.875000
1998-03-24  84.9375  121.0  10277.4375     78.000000  10355.437500
1998-03-25  88.8125  121.0  10746.3125     78.000000  10824.312500
1998-03-26  88.2500  121.0  10678.2500     78.000000  10756.250000
1998-03-27  87.8125  121.0  10625.3125     78.000000  10703.312500
1998-03-30  87.9375  121.0  10640.4375     78.000000  10718.437500
1998-03-31  89.5000  121.0  10829.5000     78.000000  10907.500000
1998-04-01  90.3750  121.0  10935.3750     78.000000  11013.375000
1998-04-02  91.3125  121.0  11048.8125     78.000000  11126.812500
1998-04-03  93.0000  121.0  11253.0000     78.000000  11331.000000
1998-04-06  89.9375  121.0  10882.4375     78.000000  10960.437500
1998-04-07  87.2500  121.0  10557.2500     78.000000  10635.250000
1998-04-08  88.9375   94.0   8360.1250   2479.312500  10839.437500
1998-04-09  89.0000   94.0   8366.0000   2479.312500  10845.312500
1998-04-13  88.6250   94.0   8330.7500   2479.312500  10810.062500
1998-04-14  88.4375   94.0   8313.1250   2479.312500  10792.437500
1998-04-15  91.3750   94.0   8589.2500   2479.312500  11068.562500
1998-04-16  91.6875   94.0   8618.6250   2479.312500  11097.937500
1998-04-17  92.1250   94.0   8659.7500   2479.312500  11139.062500
1998-04-20  94.6250   94.0   8894.7500   2479.312500  11374.062500
1998-04-21  94.8750   94.0   8918.2500   2479.312500  11397.562500
1998-04-22  98.8750   94.0   9294.2500   2479.312500  11773.562500
1998-04-23  94.5000   94.0   8883.0000   2479.312500  11362.312500
1998-04-24  92.1250   94.0   8659.7500   2479.312500  11139.062500
1998-04-27  90.3125    0.0      0.0000  10968.687500  10968.687500
...             ...    ...         ...           ...           ...
2000-11-16  68.9375   87.0   5997.5625   1811.564324   7809.126824
2000-11-17  69.0625   87.0   6008.4375   1811.564324   7820.001824
2000-11-20  67.1875   87.0   5845.3125   1811.564324   7656.876824
2000-11-21  67.7500   87.0   5894.2500   1811.564324   7705.814324
2000-11-22  68.2500   87.0   5937.7500   1811.564324   7749.314324
2000-11-24  69.9375   87.0   6084.5625   1811.564324   7896.126824
2000-11-27  70.6875   87.0   6149.8125   1811.564324   7961.376824
2000-11-28  67.0000   87.0   5829.0000   1811.564324   7640.564324
2000-11-29  65.0625    0.0      0.0000   7472.001824   7472.001824
2000-11-30  57.3750    0.0      0.0000   7472.001824   7472.001824
2000-12-01  56.6250  131.0   7417.8750     54.126824   7472.001824
2000-12-04  56.4375  131.0   7393.3125     54.126824   7447.439324
2000-12-05  59.8750  131.0   7843.6250     54.126824   7897.751824
2000-12-06  56.6875  131.0   7426.0625     54.126824   7480.189324
2000-12-07  53.1250  111.0   5896.8750   1116.626824   7013.501824
2000-12-08  54.4375    0.0      0.0000   7159.189324   7159.189324
2000-12-11  58.0625    0.0      0.0000   7159.189324   7159.189324
2000-12-12  58.3750    0.0      0.0000   7159.189324   7159.189324
2000-12-13  57.2500    0.0      0.0000   7159.189324   7159.189324
2000-12-14  55.5000    0.0      0.0000   7159.189324   7159.189324
2000-12-15  49.1875    0.0      0.0000   7159.189324   7159.189324
2000-12-18  47.8125    0.0      0.0000   7159.189324   7159.189324
2000-12-19  44.8125    0.0      0.0000   7159.189324   7159.189324
2000-12-20  41.5000    0.0      0.0000   7159.189324   7159.189324
2000-12-21  43.4375    0.0      0.0000   7159.189324   7159.189324
2000-12-22  46.4375    0.0      0.0000   7159.189324   7159.189324
2000-12-26  46.8750    0.0      0.0000   7159.189324   7159.189324
2000-12-27  46.4375    0.0      0.0000   7159.189324   7159.189324
2000-12-28  44.5625    0.0      0.0000   7159.189324   7159.189324
2000-12-29  43.3750    0.0      0.0000   7159.189324   7159.189324

[707 rows x 5 columns]

###### Get a detailed view of the tickers available in meta output, with only tickers, closing prices and totals.
The problem of date span is fixed thanks to Pandas DataReader's built-in facilities.

In [13]:
pnlAll = {'Close': s1pnl[:, :, 'Close'],
'Total1': s1pnl[:, :, 'Total'],
'Total2': s2pnl[:, :, "Total"]}

pnlAll = pd.Panel(pnlAll).transpose(2, 1, 0)

pnlAll

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 707 (major_axis) x 3 (minor_axis)
Items axis: AMZN to MSFT
Major_axis axis: 1998-03-16 00:00:00 to 2000-12-29 00:00:00
Minor_axis axis: Close to Total2

In [14]:
pnlAll.keys()

Index([u'AMZN', u'MSFT'], dtype='object')

In [15]:
pnlAll.loc['AMZN']

                Close        Total1        Total2
Date
1998-03-16  79.000002  10000.000000  10000.000000
1998-03-17  79.875000  10110.249748  10110.249748
1998-03-18  85.312500  10795.374748  10795.374748
1998-03-19  84.000000  10629.999748  10629.999748
1998-03-20  84.000000  10629.999748  10629.999748
1998-03-23  83.812500  10606.374748  10606.374748
1998-03-24  84.250002  10661.500000  10661.500000
1998-03-25  81.687498  10338.624496  10338.624496
1998-03-26  82.750002  10472.500000  10472.500000
1998-03-27  85.000002  10756.000000  10756.000000
1998-03-30  85.875000  10866.249748  10866.249748
1998-03-31  85.531202  10822.931200  10822.931200
1998-04-01  90.124998  11401.749496  11401.749496
1998-04-02  95.062500  12023.874748  12023.874748
1998-04-03  93.000000  11763.999748  11763.999748
1998-04-06  88.624998  11212.749496  11212.749496
1998-04-07  85.999998  10881.999496  10881.999496
1998-04-08  88.624998  11152.374496  11152.374496
1998-04-09  95.250000  11834.749702  11834.749702
1998-04-13  94.312500  11738.187202  11738.187202
1998-04-14  97.187496  12034.311790  12034.311790
1998-04-15  96.125004  11924.875114  11924.875114
1998-04-16  98.499996  12169.499290  12169.499290
1998-04-17  94.875000  11796.124702  11796.124702
1998-04-20  94.249998  11731.749496  11731.749496
1998-04-21  93.062502  11609.437408  11609.437408
1998-04-22  87.250002  11010.749908  11010.749908
1998-04-23  81.000000  10366.999702  11010.749908
1998-04-24  84.874998  10766.124496  11010.749908
1998-04-27  82.750002  10547.249908  11010.749908
...               ...           ...           ...
2000-11-16  27.812500   3288.608259   1198.065799
2000-11-17  27.437500   3254.483259   1198.065799
2000-11-20  25.812500   3106.608259   1198.065799
2000-11-21  24.250000   2964.420759   1198.065799
2000-11-22  25.187500   3049.733259   1198.065799
2000-11-24  28.937500   3390.983259   1198.065799
2000-11-27  28.000000   3305.670759   1198.065799
2000-11-28  25.031200   3035.509959   1198.065799
2000-11-29  26.937500   3208.983259   1198.065799
2000-11-30  24.687500   3004.233259   1198.065799
2000-12-01  24.625000   2998.545759   1198.065799
2000-12-04  26.562500   3232.983259   1291.065799
2000-12-05  25.375000   3089.295759   1234.065799
2000-12-06  23.625000   2877.545759   1150.065799
2000-12-07  21.375000   2605.295759   1042.065799
2000-12-08  23.437500   2823.920759   1128.690799
2000-12-11  25.312500   3022.670759   1128.690799
2000-12-12  25.875000   3082.295759   1128.690799
2000-12-13  23.750000   2857.045759   1128.690799
2000-12-14  22.687500   2744.420759   1128.690799
2000-12-15  22.875000   2764.295759   1128.690799
2000-12-18  19.875000   2446.295759   1128.690799
2000-12-19  18.250000   2274.045759   1128.690799
2000-12-20  16.687500   2108.420759   1128.690799
2000-12-21  15.187500   1949.420759   1128.690799
2000-12-22  15.562500   1989.170759   1128.690799
2000-12-26  16.937500   2134.920759   1128.690799
2000-12-27  16.875000   2128.295759   1128.690799
2000-12-28  17.375000   2181.295759   1128.690799
2000-12-29  15.562500   1989.170759   1128.690799

[707 rows x 3 columns]

In [16]:
pnlAll.loc['MSFT']

              Close        Total1        Total2
Date
1998-03-16  82.0000  10000.000000  10000.000000
1998-03-17  80.3750   9803.375000   9803.375000
1998-03-18  81.7500   9969.750000   9969.750000
1998-03-19  82.0000  10000.000000  10000.000000
1998-03-20  81.8125   9977.312500   9977.312500
1998-03-23  83.8750  10226.875000  10226.875000
1998-03-24  84.9375  10355.437500  10355.437500
1998-03-25  88.8125  10824.312500  10824.312500
1998-03-26  88.2500  10756.250000  10756.250000
1998-03-27  87.8125  10703.312500  10703.312500
1998-03-30  87.9375  10718.437500  10718.437500
1998-03-31  89.5000  10907.500000  10907.500000
1998-04-01  90.3750  11013.375000  11013.375000
1998-04-02  91.3125  11126.812500  11126.812500
1998-04-03  93.0000  11331.000000  11331.000000
1998-04-06  89.9375  10960.437500  10960.437500
1998-04-07  87.2500  10635.250000  10635.250000
1998-04-08  88.9375  10839.437500  10839.437500
1998-04-09  89.0000  10845.312500  10845.312500
1998-04-13  88.6250  10810.062500  10810.062500
1998-04-14  88.4375  10792.437500  10792.437500
1998-04-15  91.3750  11068.562500  11068.562500
1998-04-16  91.6875  11097.937500  11097.937500
1998-04-17  92.1250  11139.062500  11139.062500
1998-04-20  94.6250  11374.062500  11374.062500
1998-04-21  94.8750  11397.562500  11397.562500
1998-04-22  98.8750  11773.562500  11773.562500
1998-04-23  94.5000  11362.312500  11362.312500
1998-04-24  92.1250  11139.062500  11139.062500
1998-04-27  90.3125  10968.687500  10968.687500
...             ...           ...           ...
2000-11-16  68.9375   8423.564324   7809.126824
2000-11-17  69.0625   8435.314324   7820.001824
2000-11-20  67.1875   8259.064324   7656.876824
2000-11-21  67.7500   8311.939324   7705.814324
2000-11-22  68.2500   8358.939324   7749.314324
2000-11-24  69.9375   8517.564324   7896.126824
2000-11-27  70.6875   8588.064324   7961.376824
2000-11-28  67.0000   8241.439324   7640.564324
2000-11-29  65.0625   8059.314324   7472.001824
2000-11-30  57.3750   7336.689324   7472.001824
2000-12-01  56.6250   7266.189324   7472.001824
2000-12-04  56.4375   7242.189324   7447.439324
2000-12-05  59.8750   7682.189324   7897.751824
2000-12-06  56.6875   7274.189324   7480.189324
2000-12-07  53.1250   6818.189324   7013.501824
2000-12-08  54.4375   6961.251824   7159.189324
2000-12-11  58.0625   7356.376824   7159.189324
2000-12-12  58.3750   7390.439324   7159.189324
2000-12-13  57.2500   7267.814324   7159.189324
2000-12-14  55.5000   7077.064324   7159.189324
2000-12-15  49.1875   6389.001824   7159.189324
2000-12-18  47.8125   6239.126824   7159.189324
2000-12-19  44.8125   5912.126824   7159.189324
2000-12-20  41.5000   5551.064324   7159.189324
2000-12-21  43.4375   5762.251824   7159.189324
2000-12-22  46.4375   6089.251824   7159.189324
2000-12-26  46.8750   6136.939324   7159.189324
2000-12-27  46.4375   6089.251824   7159.189324
2000-12-28  44.5625   5884.876824   7159.189324
2000-12-29  43.3750   5755.439324   7159.189324

[707 rows x 3 columns]

##### Visualization 
The codes below visualizes the performance of strategy one and two, with regard to the two stocks being analyzed. For both chart the red line represents strategy one and the blue line represents strategy two.

In [17]:
import matplotlib.pyplot as plt
plt.style.use('ggplot') # Set plotting style

# The plot for Amazon
plt.xlabel('Date')
plt.ylabel('Wealth Curves')
plt.title('Results of Amazon, Red = strategy 1 and Blue = strategy 2')
plt.plot(pnlAll.loc['AMZN'].index, pnlAll.loc['AMZN'].Total1, pnlAll.loc['AMZN'].index, pnlAll.loc['AMZN'].Total2)
plt.show()

In [18]:
# The plot for Microsoft
plt.xlabel('Date')
plt.ylabel('Wealth Curves')
plt.title('Results of Microsoft, Red = strategy 1 and Blue = strategy 2')
plt.plot(pnlAll.loc['MSFT'].index, pnlAll.loc['MSFT'].Total1, pnlAll.loc['MSFT'].index, pnlAll.loc['MSFT'].Total2)
plt.show()

###### Statistical analysis of strategies' performance for each stock based on return series
###### Data for analysis: 
Extracting time series of monthly returns. Why? Because the updating frequency of each strategy is monthly, so daily return doesn't really capture the full performance of strategies.

Indexes to look at include:
1. Monthly logarithmic returns
2. Volatility: the standard deviation of monthly logarithmic returns
3. Sharp Ratio: risk/return measures. 
4. Max Drop:
5. Benchmark performance:

In [19]:
### A function to get the end dates of each month
def getMonthDates(tempTradeDays):
    dateRange = [tempTradeDays[0]] # A list with first date
    tempYear = None
    dictYears = tempTradeDays.groupby(tempTradeDays.year)
    for yr in dictYears.keys():
        tempYear = pd.DatetimeIndex(dictYears[yr]).groupby(pd.DatetimeIndex(dictYears[yr]).month)
        for m in tempYear.keys():
            dateRange.append(max(tempYear[m]))
    dateRange = pd.DatetimeIndex(dateRange).sort_values()
    return(dateRange);

import math;

# A function to compute log return
## df is a time-series with datetimeIndex and monthly return
def logReturn(df):
    ratio = df/df.shift(1)
    log_return = ratio.apply(lambda x: math.log(x))
    return(log_return);

monthly_end_date = getMonthDates(pnlAll.iloc[0].index)
returnAll = pnlAll.loc[:,monthly_end_date, :]
returnAll.ix[:,:, 'Log_Return1'] = returnAll.ix[:,:, 'Total1'].apply(logReturn)
returnAll.ix[:,:, 'Log_Return2'] = returnAll.ix[:,:, 'Total2'].apply(logReturn)

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:24: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix

The log return for strategy one on Amazon and Microsoft.

In [20]:
returnAll.ix[:,:, 'Log_Return1']

                AMZN      MSFT
1998-03-16       NaN       NaN
1998-03-31  0.079082  0.086866
1998-04-30  0.058438  0.003986
1998-05-29 -0.038422 -0.056734
1998-06-30  0.024136  0.247403
1998-07-31  0.092280  0.021288
1998-08-31 -0.200829 -0.132513
1998-09-30  0.252160  0.129817
1998-10-30  0.101394 -0.057756
1998-11-30  0.389721  0.141454
1998-12-31  0.399477  0.108714
1999-01-29 -0.958791  0.189333
1999-02-26  0.075352 -0.136925
1999-03-31  0.223647 -0.506837
1999-04-30  0.009247 -0.095461
1999-05-28 -0.286799 -0.010714
1999-06-30  0.052549  0.088897
1999-07-30 -0.153355 -0.029419
1999-08-31  0.172547  0.077904
1999-09-30 -0.479346 -0.020872
1999-10-29 -0.091346  0.012627
1999-11-30  0.135482 -0.019535
1999-12-31 -0.056222  0.241768
2000-01-31 -0.196230 -0.146355
2000-02-29  0.075542 -0.062381
2000-03-31 -0.033299  0.140136
2000-04-28 -0.153004 -0.323316
2000-05-31 -0.129982 -0.111642
2000-06-30 -0.237789  0.206394
2000-07-31 -0.173898 -0.120325
2000-08-31  0.267176  0.003724
2000-09-29 -0.054383 -0.134919
2000-10-31 -0.055392  0.095218
2000-11-30 -0.311707 -0.139524
2000-12-29 -0.412305 -0.242742

In [21]:
plt.xlabel('Date')
plt.ylabel('Log Return 1')
plt.title('Results of Amazon and Microsoft')
plt.plot(pnlAll.loc['AMZN'].index, pnlAll.loc['AMZN'].Total1, pnlAll.loc['AMZN'].index, pnlAll.loc['AMZN'].Total2)
plt.show()

In [22]:
plt.xlabel('Date')
plt.ylabel('Log Return 2')
plt.title('Results of Amazon and Microsoft')
plt.plot(pnlAll.loc['AMZN'].index, pnlAll.loc['AMZN'].Total1, pnlAll.loc['AMZN'].index, pnlAll.loc['AMZN'].Total2)
plt.show()

The log return for strategy two on Amazon and Microsoft.

In [23]:
returnAll.ix[:,:, 'Log_Return2']

                AMZN      MSFT
1998-03-16       NaN       NaN
1998-03-31  0.079082  0.086866
1998-04-30  0.017205  0.005594
1998-05-29 -0.034322 -0.041820
1998-06-30 -0.203053  0.256666
1998-07-31 -0.077068  0.021342
1998-08-31  0.095437 -0.132227
1998-09-30 -0.042425  0.129736
1998-10-30 -0.115865 -0.131628
1998-11-30  0.358996  0.141426
1998-12-31  0.395157  0.108070
1999-01-29 -0.887425  0.188118
1999-02-26 -0.117104 -0.137286
1999-03-31  0.015175 -0.518048
1999-04-30 -0.005629 -0.076870
1999-05-28 -0.083761  0.003854
1999-06-30 -0.097541  0.089725
1999-07-30 -0.004860 -0.002709
1999-08-31 -0.055455  0.086847
1999-09-30 -0.644458 -0.020885
1999-10-29 -0.024870  0.012709
1999-11-30  0.017137 -0.072622
1999-12-31 -0.006716  0.223582
2000-01-31 -0.292054 -0.071826
2000-02-29  0.116042 -0.018408
2000-03-31 -0.013066  0.042986
2000-04-28 -0.207986 -0.106789
2000-05-31 -0.090610 -0.128351
2000-06-30  0.028051  0.180787
2000-07-31 -0.063013 -0.128680
2000-08-31  0.205985  0.016228
2000-09-29 -0.073498 -0.104419
2000-10-31 -0.166995 -0.138948
2000-11-30 -0.142373 -0.054441
2000-12-29 -0.059650 -0.042766

The volatility for strategy one on the period being tested.

In [24]:
return_volatility_1 = np.std(returnAll.ix[:,:, 'Log_Return1'])
return_volatility_1

AMZN    0.257772
MSFT    0.158366
dtype: float64

The volatility for strategy two on the period being tested.

In [25]:
return_volatility_2 = np.std(returnAll.ix[:,:, 'Log_Return2'])
return_volatility_2

AMZN    0.224683
MSFT    0.140945
dtype: float64

The Sharp ratio for strategy one and two. Take the risk-free interest rate to be 0.